# EDIT THIS FOR YOR NEEDS!
LUNCH_CHOICE=DIOS_myron-userdebug
BRANCH=lineage-24.0
PIXEL_BINARIES=google_devices-husky-ap2a.240605.024-b8985b1e.tgz
PIXEL_IMAGE=husky-ap2a.240805.005-factory-06d11dac.zip
XIAOMI_IMAGE=XIAOMI.zip
EMAIL=mariuskopp517@gmail.com
NAME=M1U5T0N3
CCACHE_SIZE=100G
SWAP_SIZE=32G

# DO NOT SCREW UP THE FOLLOWING FLAGS OR THEIR ORDER!
REPO=https://android.googlesource.com/platform/manifest
USERNAME="$(whoami)"
LUNCH_DEVICE=$(echo "$LUNCH_CHOICE" | sed 's/^[^_]*_\(.*\)-.*/\1/')
DIOS_PATH=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &>/dev/null && pwd)
DIOS_FLASH=$DIOS_PATH/out/target/product/$LUNCH_DEVICE
DIOS_IMAGES=DIOS_$LUNCH_DEVICE-img-eng.$USERNAME.zip
DIOS_ZIP=DIOS_$LUNCH_DEVICE-ota-eng.$USERNAME.zip
DIOS_VENDOR=$DIOS_PATH/vendor
DIOS_FOLDER=$DIOS_VENDOR/dios
DIOS_FORKS=$DIOS_FOLDER/FORK

# PIXEL FORKS
PIXEL_FILE=$DIOS_FORKS/$PIXEL_IMAGE
PIXEL_FORKS=$DIOS_FORKS/PIXEL
PIXEL_PRODUCT=$PIXEL_FORKS/product
PIXEL_SYSTEM=$PIXEL_FORKS/system
PIXEL_SYSTEM_EXT=$PIXEL_FORKS/system_ext
PIXEL_VENDOR=$PIXEL_FORKS/vendor
PIXEL_TMP=$PIXEL_FORKS/tmp/$(basename $PIXEL_IMAGE .zip)
PIXEL_PRODUCT_TMP=$PIXEL_TMP/product
PIXEL_SYSTEM_EXT_TMP=$PIXEL_TMP/system_ext
PIXEL_SYSTEM_TMP=$PIXEL_TMP/system
PIXEL_VENDOR_TMP=$PIXEL_TMP/vendor

# XIAOMI FORKS
XIAOMI_FILE=$DIOS_FORKS/$XIAOMI_IMAGE
XIAOMI_FORKS=$DIOS_FORKS/XIAOMI
XIAOMI_PRODUCT=$XIAOMI_FORKS/product
XIAOMI_SYSTEM=$XIAOMI_FORKS/system
XIAOMI_SYSTEM_EXT=$XIAOMI_FORKS/system_ext
XIAOMI_VENDOR=$XIAOMI_FORKS/vendor
XIAOMI_TMP=$XIAOMI_FORKS/tmp/$(basename $XIAOMI_IMAGE .zip)
XIAOMI_PRODUCT_TMP=$XIAOMI_TMP/product
XIAOMI_SYSTEM_EXT_TMP=$XIAOMI_TMP/system_ext
XIAOMI_SYSTEM_TMP=$XIAOMI_TMP/system
XIAOMI_VENDOR_TMP=$XIAOMI_TMP/vendor

# CHANGE TO FALSE FOR NEW INIT!
INITIALIZED=false

# SOME SCRIPT COLORS TIHIHI!
BGBLACK='\033[40m'
BGBLUE='\033[44m'
BGCYAN='\033[46m'
BGGREEN='\033[42m'
BGPURPLE='\033[45m'
BGRED='\033[41m'
BGWHITE='\033[47m'
BGYELLOW='\033[43m'
BLACK='\033[0;30m'
BLUE='\033[0;34m'
CYAN='\033[0;36m'
GREEN='\033[0;32m'
NOCOLOR='\033[0m'
PURPLE='\033[0;35m'
RED='\033[0;31m'
WHITE='\033[0;37m'
YELLOW='\033[0;33m'

# COPYRIGHT
YEAR=2026
AUTHOR="Marius Kopp"
#